
{% extends 'portfolio/base.html'%}
{% load static %}
{% block content %}

    <h1 id="projecttitle" class="font-weight-bold text-center">Project</h1>
    <h3 class="text-center mb-5">Karan has done {{ projects.count }} project{{ project.count|pluralize }}</h3>

    <div class="row justify-content-center my-3">
      <div class="col-5">
        <img src="{% static 'project/prince.JPG' %}" class="img-fluid">
      </div>
    </div>


    {% for project in projects %}
    <div class="row justify-content-center my-3">
      <div class="col-md-10">
          <img src="{{ project.image.url }}" height="100" width="100">
          <a href="{% url 'project:detail' project.id %}">
             <h2>{{ project.title }}</h2>
          </a>
          <h5 class="text-muted">{{ project.date|date:'M d Y'|upper }}</h5>
          <h4>{{ project.description|striptags|truncatechars:100 }}</h4>
      </div>
    </div>

    <!-- Safe: using for the description tags like <p>,<b> and other in admin panel    -->
    <!-- striptags : using for remove all tags in admin panel it's doesn't matter if the tags are added in admin panel description section or not -->
    {% endfor %}


{% endblock %}
